@model string

<div class="modal fade" id="successPublisherModal" tabindex="-1" aria-labelledby="successPublisherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successPublisherModalLabel">Success</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Model
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index", "Publisher")" class="btn btn-primary">Go to List</a>
            </div>
        </div>
    </div>
</div>
